.table-body {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    }
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    }
.table-tbody>tr,
.table-thead>tr {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    }
.table-tbody>tr>td,
.table-thead>tr>th {
    padding: 16px 8px;
    word-break: break-all;
    }
.table-thead>tr>th {
    background: #f7f7f7;
    font-weight: 700;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    text-align: left;
    }
.table-tbody>tr>td {
    border-bottom: 1px solid #e9e9e9;
    }

.pagination {
    font-size: 12px;
    }
.table-pagination {
    margin: 16px 0;
    float: right;
    }
.pagination-item {
    cursor: pointer;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    float: left;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    margin-right: 8px;
    font-family: Arial;
    }
.pagination-item-active {
    background-color: #2db7f5;
    border-color: #2db7f5;
    }
.pagination-item a {
    text-decoration: none;
    color: #666;
    -webkit-transition: none;
    transition: none;
    margin: 0 6px;
    }
.pagination-item-active:hover a,
.pagination-item-active a {
    color: #fff;
    }